@media (min-width: 768px) {
    /* --- Header y Navegación de Escritorio --- */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header #menu-button {
        display: none;
    }

    header nav {
        display: block;
        position: static;
        background-color: transparent;
        width: auto;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row;
    }

    header nav a {
        border-bottom: none;
        padding: 0.5rem 1rem;
    }

    /* --- Galería de Templos para Escritorio --- */
    main > h2 {
        font-size: 2rem;
    }

    .temple-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }
}

/* Para pantallas aún más grandes */
@media (min-width: 1200px) {
    .temple-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    }
}